{{- if .Values.proxyscotch.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "hoppscotch.proxyscotch.name" . }}
  namespace: {{ include "hoppscotch.namespace" . | quote }}
  labels:
    app.kubernetes.io/component: {{ include "hoppscotch.proxyscotch.component" . }}
    {{- include "hoppscotch.labels" . | nindent 4 }}
  {{- if .Values.commonAnnotations }}
  annotations:
    {{- toYaml .Values.commonAnnotations | nindent 4 }}
  {{- end }}
data:
  PROXYSCOTCH_ALLOWED_ORIGINS: {{ .Values.hoppscotch.proxyscotch.allowedOrigins | join "," | quote }}
  PROXYSCOTCH_BANNED_OUTPUTS: {{ .Values.hoppscotch.proxyscotch.bannedOutputs | join "," | quote }}
  PROXYSCOTCH_BANNED_DESTS: {{ .Values.hoppscotch.proxyscotch.bannedDestinations | join "," | quote }}
{{- end }}
