{{- if .Values.proxyscotch.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "hoppscotch.proxyscotch.name" . }}
  namespace: {{ include "hoppscotch.namespace" . | quote }}
  labels:
    app.kubernetes.io/component: {{ include "hoppscotch.proxyscotch.component" . }}
    {{- include "hoppscotch.labels" . | nindent 4 }}
  {{- if .Values.commonAnnotations }}
  annotations:
    {{- toYaml .Values.commonAnnotations | nindent 4 }}
  {{- end }}
data:
  PROXYSCOTCH_TOKEN: {{ .Values.hoppscotch.proxyscotch.token | quote }}
{{- end }}
